<header>
    <nav>
      <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul>
        <li><a href="https://spageektti.cc">Home</a></li>
        <li><a class="current" href="https://spageektti.cc/about">About</a></li>
        <li><a href="https://spageektti.cc/contact">Contact</a></li>
        <li><a href="https://spageektti.cc/projects">Projects</a></li>
        <li><a href="https://blog.spageektti.cc">Blog</a></li>
        <li><a href="https://spageektti.cc/cv">CV</a></li>
        <li><a href="https://spageektti.cc/computer-service">Computer Service</a></li>
        <li><a class="current" href="https://spageektti.cc/about">English</a></li>
        <li><a href="https://spageektti.cc/pl/o-mnie">polski</a></li>
      </ul>
    </nav>
  </header>
